@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    @apply antialiased font-normal bg-[#E3E1EB] text-[#FFFFFFA3];
    font-family: 'Poppins', sans-serif ;
}

.globe {
    @apply relative -bottom-[2%] md:bottom-[-6rem];
    width: clamp(3.5rem, 96vw, 72rem);

}

/******** Typography ********/
.display-1 {
    font-size: clamp(2.5rem, 118 / 1920* 100vw, 6.5rem);
    line-height: 100%;
}

.display-2 {
    font-size: clamp(1.7rem, 118 / 1920* 100vw, 4.5rem);
}

.display-3 {
    font-size: clamp(1.5rem, 118 / 1920* 100vw, 2.85rem);
}


.text-1 {
    @apply text-base
}

.text-2 {
    @apply text-lg
}

.text-3 {
    font-size: 1.75rem;
}


.text-4 {
    font-size: 0.8125rem;
}

section {
    @apply px-6 w-full flex text-black justify-center;
}
.container {
    @apply max-w-[1280px]  w-full mx-auto flex justify-center py-10 md:py-[128px]
}
.content-wrap {
    @apply max-w-[1024px] w-full flex justify-center
}

.text-multi-color {
    @apply bg-gradient-to-r from-active to-primary bg-clip-text text-transparent
}

.bord {
    @apply border border-black
}

.bg-coloured {
    @apply bg-gradient-to-r from-active via-primary via-65% to-accent-400
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.scroller {
    height: 100vh;
}
