@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#E3E1EB] font-normal text-[#FFFFFFA3] antialiased;
  font-family: "Poppins", sans-serif;
}

.globe {
  @apply relative -bottom-[2%] md:bottom-[-6rem];
  width: clamp(3.5rem, 96vw, 48rem);
}

/******** Typography ********/
.display-1 {
  font-size: min(max(60px, 11.111vw), 128px);
  @apply tracking-tighter;
}

.display-2 {
  font-size: min(max(48px, 5.556vw), 80px);
  line-height: 115%;
  letter-spacing: -2.2px;
}

.display-3 {
  font-size: min(max(32px, 3.476vw), 44px);
}

.display-1,
.display-2 {
  @apply font-medium;
  line-height: 100%;
}

.text-1 {
  @apply text-base;
}

.text-2 {
  @apply text-xl;
}

.text-3 {
  font-size: 1.75rem;
}

.text-4 {
  font-size: 0.8125rem;
}

section {
  @apply flex w-full justify-center px-6 text-black;
}
.container {
  @apply mx-auto flex w-full max-w-[1280px] justify-center py-32;
}
.content-wrap {
  @apply mx-auto flex w-full max-w-[832px] justify-center lg:max-w-[1024px];
}

.sub-content {
  @apply max-w-[640px] lg:max-w-[512px];
}

.text-multi-color {
  @apply bg-gradient-to-r from-active to-primary bg-clip-text text-transparent;
}

.bord {
  @apply border border-black;
}

.bg-coloured {
  @apply bg-gradient-to-r from-active via-primary via-65% to-accent-400;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.rounded {
  @apply rounded-[1.8rem] lg:rounded-[2.5rem];
}

.scroller {
  height: 100vh;
}
